scenario ${generator_name} should create a new project based on this archive

let project_name = "my-project-name"

given
  Empty

when
  /* Run the default generator */
  $generator_name

then
  NoChange
