@description "generate a copy of this project"
@tag "rug"
@generator
editor $generator_name

@displayName "Project Name"
@description "name of your new project"
@validInput "a valid GitHub repo name containing only alphanumeric, ., -, and _ characters and 21 characters or less to avoid Slack truncating the name when creating a channel for the repo"
@minLength 1
@maxLength 21
param project_name: @project_name

with Project
  do fileExists ".atomist.yml"
